/*Header and css*/

.header {
  height: 100px;
  display: flex;
  background-color: #343a40;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
.heading {
  color: white;
  font-size: 40px;
}
.head {
  color: white;
  font-size: 20px;
}
.header a {
  text-decoration: none;
}
.nav-bag {
  display: flex;
  align-items: center;
  color: white;
  font-size: 32px;
}
.cart-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-left: 5px;
}
.category {
  font-size: 15px;
  border-radius: 5%;
  color: aliceblue;
  background-color: #343a40;
}
